.main {
    position: relative;
    margin: 0;
    overflow: hidden;
}

.main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    /* 调整此值来改变背景图片的透明度 */
}